:root {
  --main-color: #BF0005;
  --secondary-color: #f4ebd4;
  --white: white;
  --black: #262626;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

body {
  font-family: 'Lydian-Regular', serif;
  font-size: 24px;
  line-height: 1.5;

  background-color: #ffffff;
  color: var(--black);
	margin: 0;
  width: 100%;
}

/*
TODO change these font sizes to relative font sizes
*/
section {
  margin-top: 100px;
}

#hero {
  margin-top: 0px;
}

h1 {
  font-size: 100px;
  color: var(--main-color);
}

.navbar {
  padding: 0;
  text-transform: uppercase;
}

#navbar ul {
  display: flex;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 18px;
  font-weight: 500;
  color: var(--main-color);
  white-space: nowrap;
  transition: 0.3s;
  letter-spacing: .125rem;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: var(--black);
}

#mobile-navbar {
  display: none;
}

#header.header-scrolled {
  background: var(--white);
}

#hero header {
  height: 85vh;
  background: transparent url("/assets/img/IMG_0567_social_Original.png") 0% 0% no-repeat padding-box;
  background-size: cover;

  display: flex;
  text-align: center;
}


@media (max-width: 1000px) {
  #header {
    background-color: var(--black);
    height: 5vh;
  }

#header.header-scrolled {
  background: var(--black);
}

  #navbar {
    display: none;
  }

  #mobile-navbar {
    display: grid;
    grid-template-columns: 1fr 10%;
    grid-template-rows: 10% 1fr;
  }

  #mobile-navbar i {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 5rem;
    grid-column-start: 2;
    align-self: end;

    color: var(--secondary-color);
  }

  #mobile-links {
    display: none;
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 2;

    background-color: var(--black);

    border-radius: 5%;
  }

  #mobile-links a {
    color: var(--secondary-color);
    font-size: 2rem;
  }

  #hero header {
    height: 60vh;
    background: transparent url("/assets/img/IMG_0621_social_Original.png") 0% 0% no-repeat padding-box;
    background-size: cover;
  }
  
}

#hero header h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 200px;
  color: var(--secondary-color);
  align-self: flex-end;
  flex-grow: 2;
}

#hero-blurb {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#hero p {
  color: var(--main-color);
  font-size: 55px;
  text-align: center;
  margin: auto 25% auto 25%;
  line-height: 4rem;
}

#hero-logo {
  display: flex;
  justify-content: center;
  margin: 2rem auto auto auto;
}

#event-details {
  background-color: var(--black);
  color: var(--secondary-color);
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#event-details h1 {
  text-transform: uppercase;
  color: var(--secondary-color);
}

#event-details h2 {
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 2.5px;
}

#event-details hr {
  width: 25%;
  height: 1px;
  background-color: gray;
  border: none;
}

#address {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/*
TODO add a hover state to the button
*/
.rsvp {
  background-color: var(--main-color);
  color: var(--secondary-color);
  font-weight: lighter;
  font-size: medium;
  padding: 1rem 2rem 1rem 2rem;
}

#about-us header {
  color: var(--main-color);
  font-size: 55px;
  line-height: normal;
  letter-spacing: .25rem;
}

#gallery div {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#gallery div img {
  flex-grow: 1;
}

#gallery p {
  text-align: right;
  font-size: 16px;
  padding-top: 20px;
  margin-right: 10px;
}

#faq h1 {
  text-align: center;
}

.faq-list {
  padding: 0 100px;
  color: var(--main-color);
}

.faq-list ul {
  padding: 0;
  list-style: none;
}

.faq-list ul:last-child {
  border-bottom: 2px solid var(--main-color);
}

.faq-list li {
  padding: 20px;
  position: relative;
  border-top: 2px solid var(--main-color);
}

.faq-list a {
  display: block;
  position: relative;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  color: var(--main-color);
}

.faq-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}


#contact {
  background-color: var(--main-color);
  color: var(--secondary-color);
  font-size: 55px;
  text-align: center;
  padding: 10%;
}

#contact a {
  color: var(--secondary-color);
}

#contact img {
  margin: auto;
}

footer {
  background-color: var(--main-color);
  color: var(--secondary-color);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}